nav {
    display: flex;
    align-items: center;
    gap: 400px;
    background:linear-gradient(135deg,pink,red);
    color: blue;
    padding: 15px;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
nav a {
    text-decoration: none;
    color: black;
}

a {
    color: blue;
    text-decoration: none;
}
