<h1>Available Courses</h1>

<p *ngIf="loading$ | async">
    Loading courses...
</p>

<div *ngIf="!isLoading">


    <h2>Course List</h2>

    <button class="button-group" (click)="addSampleCourse()">
        Add Course
    </button>
    <input [(ngModel)]="searchTerm"  (input)="searchCourse()">
    <div *ngIf="courses.length > 0; else noCourses">

        <div class="card-container">
         
            <app-course-card
                *ngFor="let course of courses$|async; trackBy: trackByCourseId"
                [course]="course"
                appHighlight (click)="goToCourse(course)">
            </app-course-card>
            </div>
<div *ngIf="error$|async as error" class="error">

  {{ errorMessage }}

</div>
        </div>

    </div>

<ng-template #noCourses>

    <p>No courses available.</p>

</ng-template>