<h1>Available Courses</h1>

<p *ngIf="isLoading">
    Loading courses...
</p>

<div *ngIf="!isLoading">

    <h2>Course List</h2>

    <button (click)="addSampleCourse()">
        Add Course
    </button>

    <div *ngIf="courses.length > 0; else noCourses">

        <div class="card-container">

            <app-course-card
                *ngFor="let course of courses; trackBy: trackByCourseId"
                [course]="course"
                appHighlight>
            </app-course-card>

        </div>

    </div>

</div>

<ng-template #noCourses>

    <p>No courses available.</p>

</ng-template>